<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Animals</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
    <h1>Welcome to the Animal Shelter</h1>
    <h3><a href='/animals'>View Animals</a></h3>
    <h3><a href='/animals/new'>Add a new Animal</a></h3>
    </div>
</body>
</html>